<h1>Login</h1>


<%= form_tag '/login' do %>
<div class="container">
 Email<div> <%= text_field_tag :email %></div>
 Password<div> <%= password_field_tag :password %></div>
  <%= submit_tag "Submit", class: "btn btn-primary"%>
<%end%>
</div>