<div class="panel panel-default items">
<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Total Products</th>
      <th colspan="2">Total Categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan="2"><%= @products.count %></th>
      <th colspan="2"><%= @categories.count %></th>
    </tr>
  </tbody>
</table>
</div>