<div class="panel panel-default items">
<table class="table table-bordered">
  <thead>
    <tr>
      <th colspan="2">Total Products</th>
      <th colspan="2">Total Categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan="2"><%= @products.count %></th>
      <th colspan="2"><%= @categories.count %></th>
      
      
    </tr>
      <tr>
      <th colspan="2"><button class="btn primary"><%= link_to "Products" , [:admin, :products]%></button></th>
      <th colspan="2"><% Category.all.each do |category| %>
             <button class="btn primary"> <%= link_to category.name, category %></button>
            <% end %>
      </th>      
      </tr>
            
  </tbody>
</table>
</div>