<style>
section{
  display: flex;
  justify-content: space-around;
  
}
.goku {
  width: 300px;
}

.naruto {
  height: 300px;
}
</style>

<h1>About Us</h1>
<p>We are the largest retailer of goofy stuff on the web. Like Spencer's Gifts , but way more niche and way more expensive</p>

<h2>Our Team</h2>

<section>
<div>
<img class="goku" src="https://dragonball.guru/wp-content/uploads/2021/01/goku-dragon-ball-guru-824x490.jpg" alt="">
</div>
<div>
<img class="naruto" src="https://cdn.staticneo.com/w/naruto/Nprofile2.jpg" alt="">
</div>

</section>